@use './elements/index.scss' as *;


.text-on-user{
    color: $secondary-color;
    font-family: $font;
    font-size: $font-large;
    margin-left: 1rem;
    margin-top: 0.2rem;
    width: 10%;
    @include onHover($secondary_on_hover, default);
    @media screen and (max-width: $phone) {
        width: 30%;
    }
}

.text-on-points{
    color: $ternary-color;
    font-family: $font;
    font-size: $font-large;
    margin-top: 0.2rem;
    margin-right: 1rem;
    @include onHover($ternary_on-hover, default)
}


