@use './elements/index.scss' as *;

th{
    font-family: $font;
    font-size: $font-large;
    color: $primary_color;
    cursor: pointer;
}

.border-right{
    border-right: solid $ternary-color $standar 
}

tr{
    border-bottom: solid $ternary-color $standar;
}

td{
    font-family: $font;
    text-align: center;
    font-size: $font-medium;
    color: $white;
    cursor: default;
}

td span {
    background-color: $black;
    padding: 0 1rem ;
}