@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

$font: 'Outfit', sans-serif;
$font-small: 0.75rem;
$font-medium: 1.5rem;
$font-large: 2rem;
$font-xl: 4rem;
$font-xxl: 6rem;

